* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PT";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/PT.woff") format("woff");
}
@font-face {
  font-family: "PV";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/PV-Regular.woff") format("woff");
}
@font-face {
  font-family: "PV";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~assets/fonts/PV-Medium.woff") format("woff");
}
@font-face {
  font-family: "RH";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/RH-Regular.woff") format("woff");
}
@font-face {
  font-family: "RH";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~assets/fonts/RH-Medium.woff") format("woff");
}
